{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block main %}
    <h1>Bulle d'info</h1>
    <div>
        <p>Un endroit pour trouver des réponses</p>
        <p>Trouver les informations qui vous conduiront aux solutions</p>
    </div>
    <div>
        <p>Un endroit pour se "ressourcer"</p>
        <p>Des ressources utilies et pertinantes.<br/>
            pour aller encore plus loin</p>
    </div>
    <div>
        <p>Un endroit pour partager</p>
        <p>Et si cet espace,<br/>
            on le construisait ensemble?</p>
    </div>
{% endblock %}
