{% extends 'base.html.twig' %}
{% block title %} Mentions légales {% endblock %}
{% block h1 %}<h1 class="col-sm-12 my-auto">Mentions légales</h1>{% endblock %}

{% block header_img %}
    <div id="header_img">
        <div class="h-100" style="background-image: url('pictures/book.jpg')"></div>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <p>Texte</p>
    </div>
{% endblock %}