{% extends 'base.html.twig' %}
{% block title %} Mentions légales {% endblock %}
{% block h1 %}<h1 class="col-sm-12 my-auto">Mentions légales du site<br>
bulle info</h1>{% endblock %}

{% block header_img %}
    <div id="header_img">
        <div class="h-100" style="background-image: url('pictures/book.jpg')"></div>
    </div>
{% endblock %}

{% block main %}
    <div class="container">

        <p class="text-justify">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
            Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs
            et visiteurs du site "Bulle d'info" les présentes mentions légales.</p>

        <p class="text-justify">Le site "Bulle d'info" est accessible à l'adresse suivante : bulleinfo.alicewproject.com (ci-après "le Site").
            L'accès et l'utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi
            qu'aux lois et/ou règlements applicables.</p>
        <p>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de
            l'internaute de toutes les dispositions des présentes Mentions Légales.</p>

        <h3 class="text-uppercase">ARTICLE 1 - INFORMATIONS LÉGALES</h3>
        <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique,
            il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <p>Le site "Bulle d'info" est développé par : Alice Wong (ci après "l'administrateur")</p>

        <p>Le site "Bulle d'info" est hébergé par : <strong>OVH</strong></p>
        <p>
            RCS Lille Métropole 424 761 419 00045<br>
            Code APE 6202A<br>
            N° TVA : FR 22 424 7 61 419<br>
            Siège social : 2 rue Kellermann - 59100 Roubaix - France.<br>
            Téléphone : +33 9 72 10 10 07<br>
        </p>
        <p>(ci après " l'Hébergeur ")</p>

        <p><br />Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent
            le site "Bulle d'info. (ci après les " Utilisateurs ")</p>

        <h3 class="text-uppercase">ARTICLE 2 - Présentation du site</h3>
        <p>Le site "bulle d'info a pour object de permettre le partage d'informations et liens utiles</p>

        <h3 class="text-uppercase">ARTICLE 3 - CONTACT</h3>
        <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'administrateur du site</p>

        <h3 class="text-uppercase">ARTICLE 4 - ACCESSIBILITÉ</h3>
        <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non,
            pour des besoins de maintenance ou en cas de force majeure.</p>
        <p>En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès.
            Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>


        <h3 class="text-uppercase">ARTICLE 5 - GESTION DU SITE</h3>
        <p>Pour la bonne gestion du site, l'éditeur pourra à tout moment :</p>
        <ul>
            <li>suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;</li>
            <li>supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;</li>
            <li>suspendre le site afin de procéder à des mises à jour.</li>
        </ul>

        <h3 class="text-uppercase">ARTICLE 6 - SERVICES RÉSERVÉS AUX UTILISATEURS INSCRITS</h3>

        <h5 >6.1 INSCRIPTION</h5>
        <p>L'accès à certains services est conditionné par l'inscription de l'utilisateur.</p>
        <p>L'inscription et l'accès aux services du site sont réservés exclusivement aux personnes physiques  capables juridiquement,
            ayant rempli et validé le formulaire d'inscription disponible en ligne, ainsi que les présentes Conditions Générales d'Utilisation.</p>
        <p>L'utilisateur doit fournir impérativement une adresse e-mail valide, sur laquelle le site lui adressera une
            confirmation de son inscription à ses services. Une adresse de messagerie électronique ne peut être utilisée
            plusieurs fois pour s'inscrire aux services.</p>
        <p>Une seule inscription aux services du site est admise par personne physique.</p>
        <p>L'utilisateur se voit attribuer un identifiant lui permettant d'accéder à un espace dont l'accès lui
            est réservé (ci-après "Espace personnel"), en complément de la saisie de son mot de passe.</p>
        <p>L'email et le mot de passe sont modifiables en ligne par l'utilisateur dans son Espace personnel.
            Le mot de passe est personnel et confidentiel, l'utilisateur s'engage ainsi à ne pas le communiquer à des tiers.</p>
        <p>"Bulle d'info" se réserve en tout état de cause la possibilité de refuser une demande d'inscription aux
            services en cas de non-respect par l'Utilisateur des dispositions des présentes Conditions Générales d'Utilisation.</p>

        <h5 >6.2 DÉSINSCRIPTION</h5>
        <p>L'utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en se rendant sur la page
            dédiée dans son Espace personnel. Toute désinscription du site sera effective immédiatement après que l'utilisateur
            ait rempli le formulaire prévu à cet effet.</p>

        <h3 class="text-uppercase">ARTICLE 7 - RESPONSABILITÉS</h3>
        <p>L'éditeur n'est responsable que du contenu qu'il a lui-même édité.</p>
        <p>L'éditeur n'est pas responsable :</p>
        <ul>
            <li>en cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit ;</li>
            <li>des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services ;</li>
            <li>des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;</li>
            <li>des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissancecées.</li>
        </ul>

        <p>Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.</p>
        <p>L'utilisateur est responsable :</p>
        <ul>
            <li>- de la protection de son matériel et de ses données ;</li>
            <li>- de l'utilisation qu'il fait du site ou de ses services ;</li>
            <li>- s'il ne respecte ni la lettre, ni l'esprit des présentes mentions légales.</li>
        </ul>

        <h3 class="text-uppercase">ARTICLE 8 - LIENS HYPERTEXTES</h3>
        <p>Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels "Bulle d'info" n'exerce pas de contrôle.
            Malgré les vérifications préalables et régulières réalisés par l'éditeur, celui-ci décline tout responsabilité
            quant aux contenus qu'il est possible de trouver sur ces sites.</p>
        <p>L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve
            que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.</p>
        <p>Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique,
            pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>
        <p>Enfin, "Bulle d'info" se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site,
            si le site l'estime non conforme à sa politique éditoriale.</p>


        <h3 class="text-uppercase">ARTICLE 9 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</h3>
        <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure
            où il ne collecte aucune donnée concernant les utilisateurs.</p>

        <h3 class="text-uppercase">ARTICLE 10 - POLITIQUE DE COOKIES</h3>
        <p>Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et
            des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'Utilisateur.</p>
        <p>Conformément à la législation européenne, le site "Bulle d'info" a mis à jour sa politique de confidentialité en matière de cookies.
            L'Utilisateur est libre d'accepter ou de refuser les cookies de tous les sites internet en modifiant
            les paramètres de son navigateur internet.</p>

        <h3 class="text-uppercase">Article 9 - Propriété intellectuelle</h3>
        <p>
            Les images utilisées sur le site sont issue de banques d'images libre de droit tel que pixabay et visualhunt.
        </p>
        <p>Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus,  proposés par le site,
            par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'éditeur ou de l'utilisateur,
            est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L.
            335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés
            comme libres de droits sur le site.</p>
        <p>Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient
            susceptibles d'en modifier le contenu ou l'apparence.</p>



    </div>
{% endblock %}