#header_img{
    height: 20%;
    width: auto;
    background-color: #eee;
}

#bloc_landing_page{
    height: 80%;
    width: 80%;
}

.bloc{
    height: 100vh;
}

.hr_small{
    width: 20%;
}

.subject-card{
    margin-bottom: 20px;
}
.subject_item{

}