{% extends 'Display/show.html.twig' %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('show') }}">catégories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sujets</li>
        </ol>
    </nav>
{% endblock %}

{% block subject %}
    <div>
        {% include 'Display/_subjec.html.twig' %}
    </div>
{% endblock %}
{% block pagination %}
    {% include 'Display/_pagination_all_subject.html.twig' %}
{% endblock %}